* {
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  padding: 30px 0;
}

.navbar-nav .nav-item .nav-link {
  font-weight: 400;
  font-size: 2rem;
  padding: 7px 20px;
  margin-left: 20px;
  border: 1px solid transparent;
  border-radius: 30px;
  transition: all .4s;
}

.navbar-nav .nav-item .nav-link:hover {
  border: 1px solid #0149a1;
  border-radius: 30px;
}

.navbar-nav .nav-item .nav-link.active {
  padding: 7px 20px;
  border: 1px solid #0149a1;
  border-radius: 30px;
}

.navbar .icon_box .nav-item {
  margin-left: 11px;
}

.navbar .icon_box .facebook {
  padding: 11px 17px;
  border: 1px solid #3c5a99;
  border-radius: 30px;
  color: #3c5a99;
}

.navbar .icon_box .twitter {
  padding: 11px 12px;
  border: 1px solid #28aae1;
  border-radius: 30px;
  color: #28aae1;
}

.navbar .icon_box .nav-link i {
  font-size: 2rem;
}

.navbar-toggler-icon {
  width: 3.5em;
  height: 3.5em;
}